.App {
  font-family: sans-serif;
  text-align: center;
}
#otime_icon {
  position: absolute;
  left: 2%;
  width: 20%;
}
#welcome_banner {
  text-align: right;
}
#name_label {
  color: grey;
  text-align: right;
  font-size: 1rem;
}
#sbSearch {
  color: purple;
  width: 50%;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}
#leftSect,
#rightSect {
  width: 45%;
  display: inline-block;
  margin: 5px;
  font-size: 15px;
}
#leftSect {
  text-align: right;
}
#rightSect {
  text-align: left;
}
h3 {
  position: relative;
  display: inline;
  background: #86c6be;
  color: white;
  border-radius: 5px;
  padding: 1px 5px;
  letter-spacing: 2px;
}
h4 {
  margin-bottom: -2px;
  text-align: center;
}
.timelabel1,
.timelabel2,
.timelabel3,
.payLabel1,
.payLabel2,
.payLabel3 {
  display: inline;
  text-align: right;
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
}

.timelabel1,
.timelabel2 {
  color: rgba(0.33, 0.33, 0.33, 0.6);
}
.timelabel3 {
  color: rgba(0.33, 0.33, 0.33, 1);
}
.payLabel1,
.payLabel2 {
  color: rgba(34, 139, 34, 0.6);
}
.payLabel3 {
  color: rgba(34, 139, 34, 1);
}
.leftHr,
.rightHr {
  margin-top: 4px;
}
.card {
  border: 0.5px solid grey;
  box-shadow: 0px 0px 5px grey;
  transition: all 0.25s linear;
}
.card:hover {
  box-shadow: 0px 0px 20px white;
  background-color: #86c6be;
  color: white;
}

.weekView {
  display: grid;
  justify-items: center;
}
.week,
.week2 {
  display: flex;
  margin-top: 15px;
  margin-left: -5px;
}
.startPunch,
.endPunch,
.midPunch {
  font-size: 12px;
}
.startPunch {
  text-align: start;
  color: #405d3a;
  font-weight: 600;
}
hr.startPunch,
hr.midPunch {
  display: none;
}
hr.endPunch {
  border: 1px dashed green;
  margin-bottom: 1px;
}
.endPunch {
  text-align: end;
  color: #c80003;
  font-weight: 600;
}
.midPunch {
  text-align: center;
  color: #a8a8a8;
  font-weight: 600;
  font-style: italic;
}
.dayPay,
.dayHours,
.moda {
  font-size: 9px;
  margin-left: -3px;
  margin-right: -3px;
}
.dayPay {
  color: green;
}
.dayPay,
.dayHours,
.moda,
.dayName {
  text-align: center;
}
hr {
  margin: 0;
}
.moda {
  font-weight: 900;
  letter-spacing: 0.5px;
}
.dayName,
.dayHours {
  margin-top: -5px;
}
.popup {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.popup_inner {
  background-color: #86c6be;
  padding-top: 5px;
  padding-right: 4px;
  padding-left: 0px;
  padding-bottom: 2px;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 0px;
  color: white;
}
.closeBtn {
  background-color: white;
  border: 1px solid red;
  color: red;
  border-radius: 50%;
  padding-right: 14px;
  padding-bottom: 18px;
  width: 10px;
  float: right;
  height: 5%;
}
.closeBtn:hover {
  border: none;
  color: white;
  background-color: red;
}
#popBanner {
  height: 5%;
  margin-top: -1.25%;
  margin-left: 7%;
  text-align: center;
  letter-spacing: 3px;
}
#popTimes {
  margin-top: 5px;
  height: 38%;
  background: white;
  margin-left: 4px;
  border-radius: 10px;
  padding: 10px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -moz-box-shadow: inset 0 0 1px black;
  -webkit-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black;
}
.savePopBtn {
  background-color: green;
  border: none;
  width: 100%;
  height: 20%;
  letter-spacing: 3px;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  font-weight: 900;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: -10px;
  transition: all 0.25s linear;
}
.savePopBtn:hover {
  background-color: #405d3a;
}
.punchIn,
.break,
.punchOut,
.delBtnDis,
.delBtnAbl {
  width: 48%;
  margin: 2px;
  height: 7%;
  padding: 0px;
  border: NONE;
  color: white;
  display: block;
  margin-left: 25%;
  cursor: pointer;
  transition: all 0.25s linear;
}
.punchIn {
  background: #a6c64c;
}
.punchIn:hover {
  background: #405d3a;
}
.break {
  background: #a9a9a9;
}
.break:hover {
  background: black;
}
.delBtnDis {
  background: rgba(255, 149, 95, 0.5);
}
.delBtnAbl {
  background: #ff955f;
}
ul {
  list-style-type: none;
}
li {
  width: 100%;
}
label.startPunch,
label.endPunch {
  padding: 6px 0px 6px 0px;
  position: relative;
}
label.startPunch {
  margin-right: 5px;
  margin-left: -45%;
  color: #405d3a;
  background: white;
}
label.endPunch {
  color: #c80003;
  background: white;
}
input.startPunch,
input.endPunch,
input.midPunch,
input.break {
  border-radius: 5px;
  text-align: center;
  padding: 6px;
  width: 30%;
  margin-bottom: 5px;
  letter-spacing: 3px;
}
input.startPunch {
  border: 1px solid #405d3a;
  color: #405d3a;
  text-shadow: 0px 0px 3px #a6c64c;
}
input.startPunch:focus {
  background: #405d3a;
  color: white;
}
input.startPunch:hover {
  -moz-box-shadow: inset 0 0 1px #a6c64c;
  -webkit-box-shadow: inset 0 0 1px #a6c64c;
  box-shadow: inset 0 0 1px #a6c64c;
}
input.endPunch {
  border: 1px solid #c80003;
  color: #c80003;
  margin-left: 40%;

  text-shadow: 0px 0px 3px #ff955f;
}
input.endPunch:focus {
  background: #c80003;
  color: white;
}
input.endPunch:hover {
  -moz-box-shadow: inset 0 0 1px #ff955f;
  -webkit-box-shadow: inset 0 0 1px #ff955f;
  box-shadow: inset 0 0 1px #ff955f;
}
input.midPunch {
  border: none;
  background: rgba(189, 195, 199, 0.5);
  pointer-events: none;
}
input.breakPunch {
}
